<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <script type="text/javascript" src="./lib/es5-shim.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="./js/socket.io-2.1.1.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
	<style type="text/css">
		.center{
			display: block;
			margin: 0 auto;
		}


        input[type='number'] {
		    -moz-appearance:textfield;
		    padding: 2px;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		}
	</style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
	<div class="row">
		<div class="card col col-md-2" ng-repeat="d in cars" >
			<img class="card-img-top center" src="./img/car/{{pad(d.pos[2],3)}}{{ d.pallet[0] ? '1' : '0' }}{{ d.pallet[1] ? '1' : '0' }}.png" style="width: 150px;" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Car number: {{d.number}}</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">{{pad(d.pos[2],3)}}</a>
			</div>
		</div>
		<div class="card col col-md-2">
			<div class="card-body">
				<img class="card-img-top center" src="./img/car/{{pad(car.pos[2],3)}}{{ car.pallet[0] ? '1' : '0' }}{{ car.pallet[1] ? '1' : '0' }}.png" style="width: 150px;" alt="Card image cap">
				<table class="form-group">
					<tr>
						<td> X,Y: </td>
						<td>
							<select ng-model="point" class="form-control" style="width: 100px; margin-left: 2px;">
								<option ng-repeat="p in points" value="{{p.pos[0]}},{{p.pos[1]}}">{{p.pos[0]}},{{p.pos[1]}}</option>
							</select>
						</td>
						<!-- <td> X: </td>
						<td><input class="form-control" type="number" ng-model="car.pos.x" style="width: 50px; margin-left: 2px;"> </td>
						<td> Y: </td>
						 <td><input class="form-control" type="number" ng-model="car.pos.y" style="width: 50px; margin-left: 2px;"> </td>-->
						<td> Z: </td>
						<td>
							<select ng-model="car.pos[2]" class="form-control" style="width: 60px; margin-left: 2px;">
								<option ng-value="0">0</option>
								<option ng-value="90">90</option>
								<option ng-value="180">180</option>
								<option ng-value="270">270</option>
							</select>
						</td>
					</tr>
				</table>
				<table class="form-group">
					<tr>
						<td>Pallet: </td>
						<td style="padding-left: 15px;">
							<div class="form-check form-check-inline">
								<input class="form-check-input" ng-model="car.pallet[0]" type="checkbox" value="option1" style="transform: scale(1.8);">
								<label class="form-check-label">Front</label>
							</div>
						</td>
						<td style="padding-left: 15px;">
							<div class="form-check form-check-inline">
								<input class="form-check-input" ng-model="car.pallet[1]" type="checkbox" value="option1" style="transform: scale(1.8);">
								<label class="form-check-label">Back</label>
							</div>
						</td>
					</tr>
				</table>
				<a href="#" class="btn btn-primary" ng-click="addCar();" style="margin-top: 100px;">Add Car</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		

		var app = angular.module('APP', []);
		app.controller('mainCtrl', ($scope, $http)=> {
	        $scope.points = [];
	        $http.get('/api/data/points/1').then((res)=>{
	        	console.dir(res);
	        	if(res.data.err){ console.error(err); }
	        	$scope.points = res.data.points;
	        });

			$scope.cars = [];
			$scope.car = {
				number: 0,
				pos: [0, 0, 0],
				pallet: [],
				jobs: [],
				target: null,
				routing: false
			}

			$scope.addCar = ()=>{
				let car = JSON.parse(JSON.stringify($scope.car));
				let inx = $scope.cars.length;
				let p = $scope.point.split(',');
				car.pos[0] = parseInt(p[0]);
				car.pos[1] = parseInt(p[1]);
				car.target = [car.pos[0], car.pos[1]];
				// car.pos.push(90);
				car.number = inx + 1;

				$scope.cars.push(car);
				$scope.carMove(car);

				setInterval(()=> {
					let len = $scope.cars[inx].jobs.length;
					if(len > 0){
						let cold = JSON.parse(JSON.stringify($scope.cars[inx].pos));
						let cnew = [ $scope.cars[inx].jobs[0][0], $scope.cars[inx].jobs[0][1], cold[2] ];

						if(cold[0] == cnew[0] && cold[1] == cnew[1]){

						}else{
							if(cold[0] == cnew[0]){ cnew[2] = cnew[1] > cold[1] ? 180 : 0; }
							else if(cold[1] == cnew[1]){ cnew[2] = cnew[0] > cold[0] ? 90 : 270; }
						}

						$scope.cars[inx].pos[2] = cnew[2];

						if(cold[2] == cnew[2]){
							$scope.cars[inx].pos[0] = cnew[0];
							$scope.cars[inx].pos[1] = cnew[1];
							$scope.cars[inx].jobs.shift();

							
						}

						console.log(JSON.stringify({ cold, cnew}));

						$scope.carMove($scope.cars[inx]);
						
					}else{
						// let lastPoint = $scope.cars[inx].jobs[$scope.cars[inx].jobs.length-1];
						let currPoint = [$scope.cars[inx].pos[0], $scope.cars[inx].pos[1]];
						if(!$scope.cars[inx].routing && currPoint.toString() != $scope.cars[inx].target.toString()){
							$scope.getRoute(currPoint, $scope.cars[inx].target, inx);
						}
					}
				}, 300);
			}

			$scope.getRoute = (from, to, inx)=>{
				$scope.cars[inx].routing = true;
				$http.post('/api/getroute', { from: from, to: to }).then((res)=>{
		        	console.dir(res);
		        	if(res.data.err){ console.error(err); }
		        	$scope.cars[inx].jobs = $scope.cars[inx].jobs.concat(res.data);
					$scope.cars[inx].routing = false;
		        });
			}

			function findCar(id) { 
			  return $scope.cars.findIndex(d => d.number == id);

			  //global.car.find(d => d.number == id);
			}

			$scope.socket = io.connect('/', {query: 'room=cars'});
			if($scope.socket){
		        $scope.socket.on('conn', (msg)=> {
		            console.log("connect " + msg);
		        });


		        $scope.socket.on('jobs', (msg)=> {
		        	let i = findCar(msg.car.number);
		        	if(i > -1){
		        		// $scope.cars[i].jobs = msg.path[0];
		        		$scope.cars[i].target = msg.target;
		        	}
		            console.log("jobs " + msg);
		        });

		        // $scope.carMove = (c)=>{
		        // 	$scope.socket.emit('move', c);
		        // }
		    }

		 	$scope.carMove = (c)=>{
		 		$http.post('/api/car/move', c).then((res)=>{
		        	console.dir(res);
		        	if(res.data.err){ console.error(err); }
		        });
	        }

		    $scope.pad = (n, width, z)=> {
				z = z || '0';
				n = n + '';
				return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
			}
		});
	</script>
</body>
</html>