<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AGV Config</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link href="css/jquery-ui.css" rel="stylesheet" />
  <link href="css/dashboard.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet" />
</head>
<body ng-app="APP" ng-controller="mainCtrl">
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">AGV Config</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>

  <div class="container-fluid" >
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column mb-2">
            <li class="nav-item" ng-repeat="car in cars track by $index" ng-class="carSel.name == car.name ? 'sel' : ''">
              <a class="nav-link" href="#" ng-click="selCar(car)">
                <span data-feather="activity"></span>
                {{car.number}}
              </a>
            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Config</span>
          </h6> 
          <ul class="nav flex-column mb-2" ng-hide="carSel == null">
            <li class="nav-item" ng-class="confSel == 'I/O' ? 'sel' : ''">
              <a class="nav-link" href="#" ng-click="selConf('I/O')">
                <span data-feather="file-text"></span>
                I/O
              </a>
            </li>
            <li class="nav-item" ng-class="confSel == 'Parameter' ? 'sel' : ''">
              <a class="nav-link" href="#" ng-click="selConf('Parameter')">
                <span data-feather="file-text"></span>
                Parameter
              </a>
            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Steps</span>
            <a class="link-secondary" href="#" aria-label="Add a new report"  ng-hide="carSel == null">
              <span data-feather="plus-circle"></span>
            </a>
          </h6> 
          <ul class="nav flex-column mb-2">
            <li class="nav-item" ng-repeat="s in stations track by $index" ng-class="stepSel == s ? 'sel' : ''">
              <a class="nav-link" href="#" ng-click="selStep(s)">
                <span data-feather="file-text"></span>
                {{s}}
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" ng-show="stepSel != '' && carSel != null && confSel == ''">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">{{carSel.number}} | {{stepSel}} Step</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
              <button type="button" class="btn btn-sm btn-primary" ng-click="save()">Save</button>
            </div>
          </div>
        </div>
        <ul id="sortable" style="list-style-type:none; line-height:2; padding-left: 0px;" ng-hide="binddata">
          <li class="ui-state-default noselect list-event" ng-repeat="event in events track by $index" data-index="{{$index}}">
            <!-- <div class="index">{{$index}}</div> -->
            <span class="index" data-feather="layers"></span>
            <div style="display: inline-flex;">
              <div class="input-label">
                Event: 
                <select class="event select-single" ng-model="event.event">
                    <option value="run">Drive</option>
                    <option value="turn">Turn</option>
                    <option value="lift">Lift</option>
                    <option value="clearorder">Clear Order</option>
                    <option value="toBufferWipIn">WIP A1</option>
                    <option value="toBufferPumpIn">PUMP CENTER A2</option>
                </select>
              </div>
              <div ng-show="event.event == 'run'" class="input-label">
                Direction: 
                <select class="movedir select-single hide" ng-model="event.dir">
                  <option ng-value="true">Forward</option>
                  <option ng-value="false">Backward</option>
                </select>
              </div>
              <div ng-show="event.event == 'turn'" class="input-label">
                Direction: 
                <select class="turndir select-single" ng-model="event.dir">
                  <option ng-value="true">Turn Right</option>
                  <option ng-value="false">Turn Left</option>
                </select>
              </div>
              <div ng-show="event.event == 'lift'" class="input-label">
                Lift: 
                <select class="liftdir select-single" ng-model="event.dir">
                  <option ng-value="1">Lift UP</option>
                  <option ng-value="0">Lift Down</option>
                </select>
              </div>
              <div ng-show="event.event == 'turn'" class="input-label">
                Deg:
                <input type="number" class="deg" min="0" max="359" step="1" ng-model="event.deg">
              </div>
              <div ng-show="event.event == 'run'" class="input-label">
                OSL:
                <input type="number" class="osl" min="-999" max="999" step="1" ng-model="event.osl">
              </div>
            </div>
            <div ng-show="event.event == 'run'">
              Route: <button class="btn btn-sm" ng-click="genRoute($index)">gen</button><br>
              <!-- <select class="form-control route hide" style="display: none;" multiple="" aria-hidden="true" >
                <option selected="selected" ng-repeat="route in event.route track by $index" value="{{route}}">{{routeLabel(route)}}</option>
              </select> -->
              <input type="text" ng-model="event.routeString" style="width: 100%;">
            </div>
          </li>
      </ul>
      </main>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
  <!-- <script src="dashboard.js"></script> -->
  <script src="js/app.js"></script>
</body>
</html>
