<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="./lib/themes/jquery.ui.all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/maps.css" />

    <script type="text/javascript" src="./lib/es5-shim.min.js"></script>
    <script type="text/javascript" src="./lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.mouse.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.draggable.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.accordion.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.slider.min.js"></script>
    <script type="text/javascript" src="./js/socket.io-2.1.1.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <style type="text/css">
    	image.aruco:hover{
    		opacity: 1;
    	}
    	.on:hover{
    		opacity: 1;
    	}
    </style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
	<button ng-click="carCtrl.move(0);">Reset</button>
	<div class="label">
		<p id="mousePosition"></p>
		<p id="point"></p>
	</div>
	<div class="zone row">
		<!-- <h4>Zone</h4> -->
		<div ng-repeat="z in zone track by $index" ng-click="zoneClick($index);" class="col col-4" ng-class="z == null || z == -1 ? 'unlock' : 'lock'">
			<i class="fas" ng-class="z == null || z == -1 ? 'fa-unlock' : 'fa-lock'"></i>
			<span class="number">{{z}}</span>
			<span class="index">{{$index}}</span>
		</div>
	</div>
	<div class="jobs row">
		<!-- <h4>Jobs</h4> -->
		<div ng-repeat="i in orders.inprocess.pimp track by $index" class="col col-12">
			<b>{{ i.mach }} {{ i.dt | date : "HH:mm:ss" }}</b> <i class="fas fa-times-circle"></i>
		</div>
		<div ng-repeat="o in orders.orders.pimp track by $index" class="col col-12">
			{{ o.mach }} {{ o.dt | date : "HH:mm:ss" }} <i class="fas fa-times-circle"></i>
		</div>
		<hr>
		<div ng-repeat="i in orders.inprocess.pump track by $index" class="col col-12">
			<b>{{ i.mach }} {{ i.dt | date : "HH:mm:ss" }}</b> <i class="fas fa-times-circle"></i>
		</div>
		<div ng-repeat="o in orders.orders.pump track by $index" class="col col-12">
			{{ o.mach }} {{ o.dt | date : "HH:mm:ss" }} <i class="fas fa-times-circle"></i>
		</div>
	</div>
	<svg id="svg" width="1700" height="860">
	</svg>
	<div class="cars-panel row">
		<div class="col col-md-2 car" ng-repeat="c in cars track by $index" ng-class="c.var.status == 0 ? 'offline' : 'online'"> 
			<span class="name">{{c.var.number}}</span>
			<img class="car-img" ng-src="./img/car/{{ pad(roundCompass15(c.var.deg),3) }}0{{(c.var.liftpos == 1 ? '1' : '0') }}.png" style="" alt="Card image cap">
			<div class="batt">
				<i class="fas" ng-class="c.var.batt > 22 ? 'fa-battery-full' : (c.batt > 21 ? 'fa-battery-half' : 'fa-battery-quarter')"></i>
				<span>{{c.var.batt | number:1 }}v</span>
			</div>
			<!-- <div class="pos">
				<span>X : {{ c.pos[0] | number:0 }}</span>
				<br>
				<span>Y : {{ c.pos[1] | number:0 }}</span>
				<br>
				<span>Z : {{ c.pos[2] | number:0 }}</span>
			</div> -->
		</div>
		<!-- <input type="text" id="newPoint" name=""> -->
		<!--  -->
		<!-- <div class="col col-md-1 car offline">
			<span class="name">154</span>
			<img class="car-img" src="./img/car/09011.png" style="" alt="Card image cap">
			<div class="batt">
				<i class="fas fa-battery-full"></i>
				<span>98%</span>
			</div>
		</div>
		<div class="col col-md-1 car">
			<span class="name">154</span>
			<img class="car-img" src="./img/car/09011.png" style="" alt="Card image cap">
			<div class="batt">
				<i class="fas fa-battery-three-quarters"></i>
				<span>98%</span>
			</div>
		</div>
		<div class="col col-md-1 car">
			<span class="name">154</span>
			<img class="car-img" src="./img/car/18011.png" style="" alt="Card image cap">
			<div class="batt">
				<i class="fas fa-battery-half"></i>
				<span>98%</span>
			</div>
		</div>
		<div class="col col-md-1 car">
			<span class="name">154</span>
			<img class="car-img" src="./img/car/09011.png" style="" alt="Card image cap">
			<div class="batt">
				<i class="fas fa-battery-quarter"></i>
				<span>98%</span>
			</div>
		</div> -->
	</div>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="./js/svg-pan-zoom.js"></script>
	<script src="./app/socket.io.js"></script>
	<script src="./app/calc.js"></script>
	<script src="./app/mapsCtrl.js"></script>
	<script type="text/javascript" src="./lib/jsmpeg.min.js"></script>
	<script type="text/javascript">
	</script>
</body>
</html>