<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <script type="text/javascript" src="./lib/es5-shim.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="./js/socket.io-2.1.1.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
	<style type="text/css">
		td,th{
			border: 1px solid #000;
			padding: 0px 10px;
		}
	</style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
	<input type="text" name="" ng-model="query">
	<table>
		<thead>
			<th>#</th>
			<th>Date </th>
			<th> Mach</th>
		</thead>
		<tbody>
			<tr ng-repeat="log in logs | orderBy: '-dt' | filter: search">
				<td>{{ $index }}</td>
				<td>{{ log.dt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
				<td>{{ log.mach }}</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		var app = angular.module('APP', []);
		app.controller('mainCtrl', ($scope, $http)=> {
	        $scope.logs = [];
	        $http.get('/orders/logs').then((res)=>{
	        	console.dir(res);
	        	$scope.logs = res.data;
	        });

	        $scope.search = function(item) {
			    if (item.dt && item.mach && (!$scope.query || (item.dt.indexOf($scope.query) != -1) || (item.mach.indexOf($scope.query) != -1) )){
			        return true;
			    }
			    return false;
			};
		});
	</script>
</body>
</html>