<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<style type="text/css" id="css">
        body{ padding: 20px; margin: 0px; overflow: hidden; margin-top:220px; }
        .menubar{ height: 30px; position: absolute; left: 0px; right: 0px; bottom: 0px; }
        .kiosk{ position: absolute; right: 5px; opacity: 0.1; }
        .dropdown-menu{
            width: 100%;
            text-align: center;
        }
        .dropdown-item{
            line-height: 3;
            font-weight: bold;
            font-size: 1.3em;
        }
        .color-w{
            color: white;
        }
    </style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col" ng-repeat="p in pos track by $index">
                <div class="card mb-4 rounded-3 shadow-sm border-primary"  ng-class="p.status == 0 ? 'border-success' : 'border-warning'">
                    <div class="card-header py-3 text-white bg-primary border-primary"  ng-class="p.status == 0 ? 'bg-success border-success' : 'bg-warning border-warning'">
                    <h4 class="my-0 fw-normal">ตำแหน่งส่งงานที่ {{p.index}}</h4>
                    </div>
                    <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ p.status == 0 ? "ว่างงาน" : "รอรถ" }}</h1>
                    <ul class="list-unstyled mt-3 mb-4" ng-class="p.status == 0 ? 'color-w' : ''">
                        <li>{{ p.status == 0 ? "..." : p.dt | date: 'yyyy-MM-dd HH:mm:ss' }}</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-warning" ng-disabled="true" ng-show="p.status != 0">{{ posLabel(p.job) }}</button>
                    <div class="dropdown">
                        <button class="dropdown-toggle w-100 btn btn-lg btn-success" ng-show="p.status == 0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            เลือกปลายทาง
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" ng-click="callAgv('P3D'+(p.index))">Rack D</a>
                          <!-- <a class="dropdown-item" href="#" ng-click="callAgv('P3L'+(p.index))">โกดัง 3</a> -->
                          <a class="dropdown-item" href="#" ng-click="callAgv('P3O'+(p.index))">แผนกทั่วไป</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- <div class="menubar">
        <button class="kiosk" ng-click="closeApp(this)">KIOSK</button>
    </div> -->
	<!-- <script type="text/javascript" src="js/script.js"></script> -->
	<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/socket.io.js" ></script>

	<script type="text/javascript">
		let app = angular.module('APP', []);
		app.controller('mainCtrl', function($scope, $http, $interval) {
            // window.ipcRenderer = require("electron").ipcRenderer;
            // $(document).ready(function () {
            //     $('.dropdown-toggle').dropdown();
            // });
            $scope.handleAction = (a, b)=>{
                // alert(a+b);
                $scope.pos[b].job = a;
                $scope.pos[b].status = 1;
            }
            $scope.clearJob = (i)=>{
                $scope.pos[i].job = null;
                $scope.pos[i].status = 0;
            }
            $scope.posLabel = (a)=>{
                if(a == "P3D"){
                    return "Rack D";
                }else if(a == "P3L"){
                    return "โกดัง 3";
                }else if(a == "P3O"){
                    return "แผนกทั่วไป";
                }
            }

            $scope.pos = [
                { index: 1, status: 1, job: null, dt: null },
                { index: 2, status: 1, job: null, dt: null },
                { index: 3, status: 1, job: null, dt: null },
                { index: 4, status: 1, job: null, dt: null }
            ];

            $scope.closeApp = (el)=>{
                console.log('closeApp');
                // window.ipcRenderer.send('kiosk', 'toggle');
            }

            $scope.proc = (data)=>{
	            let o = data.filter(d => d.mach.substring(0,1) == "P");
            }

            $scope.callAgv = function(dist){
                // $http.get("http://192.168.100.50:3310/api/order/pump/" + dist).then((res)=>{
                $http.get("/api/order/pump/" + dist).then((res)=>{
                    if(res.status == 200){
					    console.log(res.data);
                        $scope.updateStatus(res.data);
                    }
				});
            };
            $scope.updateStatus = function(orders){
                let p2d = orders.filter(d => d.mach == "P3D1");
                let p2l = orders.filter(d => d.mach == "P3L1");
                let p2o = orders.filter(d => d.mach == "P3O1");

                if(p2d.length > 0){ $scope.handleAction("P3D",0); }
                if(p2l.length > 0){ $scope.handleAction("P3L",0); }
                if(p2o.length > 0){ $scope.handleAction("P3O",0); }
                if(p2d.length == 0 && p2l.length == 0 && p2o.length == 0){ $scope.clearJob(0); }

                p2d = orders.filter(d => d.mach == "P3D2");
                p2l = orders.filter(d => d.mach == "P3L2");
                p2o = orders.filter(d => d.mach == "P3O2");
                if(p2d.length > 0){ $scope.handleAction("P3D",1); }
                if(p2l.length > 0){ $scope.handleAction("P3L",1); }
                if(p2o.length > 0){ $scope.handleAction("P3O",1); }
                if(p2d.length == 0 && p2l.length == 0 && p2o.length == 0){ $scope.clearJob(1); }

                p2d = orders.filter(d => d.mach == "P3D3");
                p2l = orders.filter(d => d.mach == "P3L3");
                p2o = orders.filter(d => d.mach == "P3O3");
                if(p2d.length > 0){ $scope.handleAction("P3D",2); }
                if(p2l.length > 0){ $scope.handleAction("P3L",2); }
                if(p2o.length > 0){ $scope.handleAction("P3O",2); }
                if(p2d.length == 0 && p2l.length == 0 && p2o.length == 0){ $scope.clearJob(2); }

                p2d = orders.filter(d => d.mach == "P3D4");
                p2l = orders.filter(d => d.mach == "P3L4");
                p2o = orders.filter(d => d.mach == "P3O4");
                if(p2d.length > 0){ $scope.handleAction("P3D",3); }
                if(p2l.length > 0){ $scope.handleAction("P3L",3); }
                if(p2o.length > 0){ $scope.handleAction("P3O",3); }
                if(p2d.length == 0 && p2l.length == 0 && p2o.length == 0){ $scope.clearJob(3); }

            };
            $scope.updateAgvStatus = function(){
                // $http.get("http://192.168.100.50:3310/api/chkorderpos/pump").then((res)=>{
                $http.get("/api/chkorderpos/pump").then((res)=>{
                    if(res.status == 200){
					    console.log(res.data);
                        $scope.updateStatus(res.data);
                    }
				});
            };
            $interval(function(){ 
				$scope.updateAgvStatus();
			},3000);
		});
	</script>
</body>
</html>