<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="./lib/themes/jquery.ui.all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="./css/maps.css" />

    <script type="text/javascript" src="./lib/es5-shim.min.js"></script>
    <script type="text/javascript" src="./lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.mouse.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.draggable.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.accordion.min.js"></script>
    <script type="text/javascript" src="./lib/ui/jquery.ui.slider.min.js"></script>
    <script type="text/javascript" src="./js/socket.io-2.1.1.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <style type="text/css">
	    body{
	    	background-color: #212529
	    }
    	.text-input{
    		background-color: rgba(255,255,255,0.05);
    		padding: 0px 5px;
    		border: none;
    		color: #FFF;
    	}
    	.row{
    		margin: 0px;
    	}
    	.col{
    		padding: 0px;
    	}
    	.table tbody+tbody{
    		border-top: 0px;
    	}
    	table{
    		margin-bottom: 0px;
    	}
    	tr{

    		border-bottom: 1px solid #32383e;
    	}
    	.btn-danger.remove{
    		padding: 0px 2px;
    		margin-top: -1px;
    		margin-left: 3px;
    		font-size: 0.9em;
    	}
    	.btn-sm{
    		top: 0px;
    		left: 0px;
    		font-size: 0.7em;
    		padding-left: 2px 8px;
    	}
    </style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
	<div class="row">
		<div class="col col-6">
			<table class="table table-dark" style="border-right: 1px solid #32383e;">
				<thead>
					<tr>
						<th scope="col">เครื่องจักร</th>
						<th scope="col">เลขที่งาน</th>
						<th scope="col">จำนวน</th>
						<th scope="col">สถานะ</th>
					</tr>
				</thead>
				<tbody ng-repeat="l in lists" ng-show="$index%2 == 0">
			        <tr>
			          <td rowspan="{{l.jobs.length+1}}" style="border-right: 1px solid #32383e;"><span><b>{{ l.mach }}</b></span></td>
			          <td ng-show="l.jobs.length > 0"><input class="text-input update" data-index="0" data-mach="{{l.mach}}" type="text" name="" ng-model="l.jobs[0].job"></td>
			          <td ng-show="l.jobs.length > 0"><input class="text-input update" data-index="0" data-mach="{{l.mach}}" type="number" name="" ng-model="l.jobs[0].qty"><div class="btn btn-danger remove" data-index="0" data-mach="{{l.mach}}">X</div></td>
			          <td ng-show="l.jobs.length > 0">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								รอรับงาน
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">รอรับงาน</a>
									<a class="dropdown-item" href="#">รับทราบ</a>
									<a class="dropdown-item" href="#">กำลังส่ง</a>
									<a class="dropdown-item" href="#">ส่งแล้ว</a>
								</div>
							</div>
						</td>
			          <td ng-hide="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? '' : 'add'" data-mach="{{l.mach}}" type="text" name=""></td>
			          <td ng-hide="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? '' : 'add'" data-mach="{{l.mach}}" type="number" name=""></td>
			          <td ng-hide="l.jobs.length > 0"><span></span></td>
			        </tr>
			        <tr ng-repeat="item in l.jobs" ng-if="$index > 0">
			          <td><input class="text-input update" data-index="{{$index}}" data-mach="{{l.mach}}" type="text" name="" ng-model="item.job"></td>
			          <td><input class="text-input update" data-index="{{$index}}" data-mach="{{l.mach}}" type="number" name="" ng-model="item.qty"><div class="btn btn-danger remove" data-index="{{$index}}" data-mach="{{l.mach}}">X</div></td>
			        	<td>
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								รอรับงาน
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">รอรับงาน</a>
									<a class="dropdown-item" href="#">รับทราบ</a>
									<a class="dropdown-item" href="#">กำลังส่ง</a>
									<a class="dropdown-item" href="#">ส่งแล้ว</a>
								</div>
							</div>
						</td>
			        </tr>
			        <tr>
			          <td ng-show="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? 'add' : ''" data-mach="{{l.mach}}" type="text" name=""></td>
			          <td ng-show="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? 'add' : ''" data-mach="{{l.mach}}" type="number" name=""></td>
			          <td ng-show="l.jobs.length > 0"></td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<div class="col col-6">
			<table class="table table-dark" style="border-left: 1px solid #32383e;">
				<thead>
					<tr>
						<th scope="col">เครื่องจักร</th>
						<th scope="col">เลขที่งาน</th>
						<th scope="col">จำนวน</th>
						<th scope="col">สถานะ</th>
					</tr>
				</thead>
				<tbody ng-repeat="l in lists" ng-hide="$index%2 == 0">
			        <tr>
			          <td rowspan="{{l.jobs.length+1}}" style="border-right: 1px solid #32383e;"><span><b>{{ l.mach }}</b></span></td>
			          <td ng-show="l.jobs.length > 0"><input class="text-input update" data-index="0" data-mach="{{l.mach}}" type="text" name="" ng-model="l.jobs[0].job"></td>
			          <td ng-show="l.jobs.length > 0"><input class="text-input update" data-index="0" data-mach="{{l.mach}}" type="number" name="" ng-model="l.jobs[0].qty"><div class="btn btn-danger remove" data-index="0" data-mach="{{l.mach}}">X</div></td>
			          <td ng-show="l.jobs.length > 0">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								รอรับงาน
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">รอรับงาน</a>
									<a class="dropdown-item" href="#">รับทราบ</a>
									<a class="dropdown-item" href="#">กำลังส่ง</a>
									<a class="dropdown-item" href="#">ส่งแล้ว</a>
								</div>
							</div>
						</td>
			          <!-- <td ng-show="l.jobs.length > 0><div class="btn">X</div></td> -->
			          <td ng-hide="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? '' : 'add'" data-mach="{{l.mach}}" type="text" name=""></td>
			          <td ng-hide="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? '' : 'add'" data-mach="{{l.mach}}" type="number" name=""></td>
			          <td ng-hide="l.jobs.length > 0">
					  </td>
			        </tr>
			        <tr ng-repeat="item in l.jobs" ng-if="$index > 0">
			          <td><input class="text-input update" data-index="{{$index}}" data-mach="{{l.mach}}" type="text" name="" ng-model="item.job"></td>
			          <td><input class="text-input update" data-index="{{$index}}" data-mach="{{l.mach}}" type="number" name="" ng-model="item.qty"><div class="btn btn-danger remove" data-index="{{$index}}" data-mach="{{l.mach}}">X</div></td>
			          <td>
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								รอรับงาน
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">รอรับงาน</a>
									<a class="dropdown-item" href="#">รับทราบ</a>
									<a class="dropdown-item" href="#">กำลังส่ง</a>
									<a class="dropdown-item" href="#">ส่งแล้ว</a>
								</div>
							</div>
						</td>
			        </tr>
			        <tr>
						<td ng-show="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? 'add' : ''" data-mach="{{l.mach}}" type="text" name=""></td>
						<td ng-show="l.jobs.length > 0"><input class="text-input" ng-class="l.jobs.length > 0 ? 'add' : ''" data-mach="{{l.mach}}" type="number" name=""></td>
						<td ng-show="l.jobs.length > 0">
						</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="./js/svg-pan-zoom.js"></script>
	<script src="./app/socket.io.js"></script>
	<script src="./app/calc.js"></script>
	<script type="text/javascript">
		let app = angular.module('APP', []);
		app.controller('mainCtrl', function($scope, $http) {
			$scope.lists = [];

			$http.get(`/reqmat/data`).then((res)=>{
				$scope.lists = res.data;
			});

			$scope.tcs = io.connect('/');
		    if($scope.tcs){
		        $scope.tcs.on('reqmat', function (msg) {
		        	$scope.lists = msg;
					$scope.$apply(()=>{});
		        });
		    }

			$(()=>{
                $(document).on('change', 'input[type="text"].add, input[type="number"].add',  (el)=>{
                	let tr = $(el.target).parent().parent();
                	let data = $scope.lists.find(d => d.mach == $(el.target).data('mach'));
					let t = $(tr).find('input[type="text"].add');
					let n = $(tr).find('input[type="number"].add');

					if(t.val().length > 0 && n.val().length > 0){
						data.jobs.push({
							job: t.val(), 
							qty: parseInt(n.val()), 
							status: ""
						});
						t.val('');
						n.val('');

						$scope.$apply(()=>{});
						if($scope.tcs){ $scope.tcs.emit('reqmat', JSON.parse(angular.toJson($scope.lists))); }
					}
				});

				$(document).on('change', 'input[type="text"].update, input[type="number"].update',  (el)=>{
					setTimeout(()=>{
						if($scope.tcs){ $scope.tcs.emit('reqmat', JSON.parse(angular.toJson($scope.lists))); }
					}, 200);
				});

				$(document).on('click','.remove', (el)=>{
                	let inx = $scope.lists.findIndex(d => d.mach == $(el.target).data('mach'));
                	$scope.lists[inx].jobs.splice($(el.target).data('index'), 1);
                	if($scope.tcs){ $scope.tcs.emit('reqmat', JSON.parse(angular.toJson($scope.lists))); }
                	// alert($scope.lists);
				});
			});
		});
	</script>
</body>
</html>
