<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<style type="text/css" id="css">
		body{
            padding: 40px;
		}
        table.center {
            margin-left:auto; 
            margin-right:auto;
        }

        table{
            height: 100%;
            width: 50%;
            text-align: center;
        }      
        tr{
            height: 25vh;
        }  
        td{
            border: 3px solid #FFF;
        }
        td.red{
            background-color: red;
        }
        td.green{
            background-color: green;
        }
	</style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
    <table class="table-bordered center">
        <tbody>
            <!-- <tr>
                <td ng-class="data.bool[0] ? 'green' : 'red'">
                    <select data-index="0" ng-disabled="!data.bool[0]">
                        <option ng-repeat="l in loc" value="{{$index}}"  ng-selected="loc[data.jobs[0]] == l">{{l}}</option>
                    </select>
                </td>
                <td ng-class="data.bool[1] ? 'green' : 'red'">
                    <select data-index="1" ng-disabled="!data.bool[1]">
                        <option ng-repeat="l in loc" value="{{$index}}"  ng-selected="loc[data.jobs[1]] == l">{{l}}</option>
                    </select>
                </td>
                <td ng-class="data.bool[2] ? 'green' : 'red'">
                    <select data-index="2" ng-disabled="!data.bool[2]">
                        <option ng-repeat="l in loc" value="{{$index}}"  ng-selected="loc[data.jobs[2]] == l">{{l}}</option>
                    </select>
                </td>
            </tr> -->
            <tr>
                <td ng-class="!data.bool[6] ? 'green' : 'red'">
                    <select data-index="6" ng-disabled="data.bool[6]">
                        <option ng-repeat="l in loc" value="{{$index}}"  ng-selected="loc[data.jobs[6]] == l">{{l}}</option>
                    </select>
                </td>
                <td ng-class="!data.bool[5] ? 'green' : 'red'">
                    <select data-index="5" ng-disabled="data.bool[5]">
                        <option ng-repeat="l in loc" value="{{$index}}"  ng-selected="loc[data.jobs[5]] == l">{{l}}</option>
                    </select>
                </td>
                <td ng-class="!data.bool[4] ? 'green' : 'red'">
                    <select data-index="4" ng-disabled="data.bool[4]">
                        <option ng-repeat="l in loc" value="{{$index}}"  ng-selected="loc[data.jobs[4]] == l">{{l}}</option>
                    </select>
                </td>
                <td ng-class="!data.bool[3] ? 'green' : 'red'">
                    <select data-index="3" ng-disabled="data.bool[3]">
                        <option ng-repeat="l in loc" value="{{$index}}"  ng-selected="loc[data.jobs[3]] == l">{{l}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
	<script type="text/javascript" src="../../js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/socket.io.js" ></script>
	<script type="text/javascript">
		let app = angular.module('APP', []);
		app.controller('mainCtrl', function($scope, $http) {
            $scope.loc = ["", "ปั๊ม 1"];
            $scope.data = [];
            $scope.getdata = ()=>{
                $http({
                    method: 'GET',
                    url: `/buffer/wipout/data`
                }).then((res)=>{
                    $scope.data = res.data;
                    console.log(JSON.stringify(res));
                }, (res)=>{
                    console.log(res);
                });
            }

            $scope.setJob = (inx)=>{
                $http({
                    method: 'GET',
                    url: `/buffer/wipout/setjob/${inx}/1`
                }).then((res)=>{
                }, (res)=>{
                    console.log(res);
                    $scope.data = res.data;
                    console.log(JSON.stringify(res));
                });
            }
			$(document).ready(function() {
                setInterval(()=>{
                    $scope.getdata();
                },3000)
                $scope.getdata();
            })

            $('select').on('change', function() {
                // alert( $(this).val() );
                $http({
                    method: 'GET',
                    url: `/buffer/wipout/setjob/${$(this).data('index')}/${$(this).val()}`
                }).then((res)=>{
                }, (res)=>{
                    console.log(res);
                    $scope.data = res.data;
                    console.log(JSON.stringify(res));
                });
            });

		});
	</script>
</body>
</html>