.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.input-label{
    display: grid; 
    padding-right: 10px;
}
input[type="number"]{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0px 5px;
    font-size: 0.94em;
}

.index{
    position: absolute;
    left: 15px;
    font-size: 3em;
    top: 50%;
    transform: translateY(-50%);
    cursor: n-resize;
}

li.list-event{
    padding: 10px; 
    margin-bottom: 15px; 
    padding-top: 5px; 
    padding-left: 50px;
    position: relative;
}
.select2.select2-container.select2-container--default.select2-container--focus{
    width: 100% !important;
}

li.sel{
    background: gainsboro;
}